<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="de.actis.bom.ui.ACTISTransformationLaunchConfigurationType">
<booleanAttribute key="LAUNCH_ATTR_DB_CONNECTOR" value="false"/>
<stringAttribute key="LAUNCH_JDBC_ATTR_DST_DRIVER" value=""/>
<stringAttribute key="LAUNCH_JDBC_ATTR_DST_PW" value=""/>
<stringAttribute key="LAUNCH_JDBC_ATTR_DST_URL" value=""/>
<stringAttribute key="LAUNCH_JDBC_ATTR_SRC_DRIVER" value=""/>
<stringAttribute key="LAUNCH_JDBC_ATTR_SRC_PW" value=""/>
<stringAttribute key="LAUNCH_JDBC_ATTR_SRC_URL" value=""/>
<stringAttribute key="LAUNCH_JDBC_ATTR_SRC_USER" value=""/>
<stringAttribute key="LAUNCH_JDBC_DST_USER" value=""/>
<stringAttribute key="de.actis.bom.ui.ATTR_DB_SOURCE_HOSTNAME" value=""/>
<stringAttribute key="de.actis.bom.ui.ATTR_DB_SOURCE_NAME" value=""/>
<stringAttribute key="de.actis.bom.ui.ATTR_DB_SOURCE_PORT" value=""/>
<stringAttribute key="de.actis.bom.ui.ATTR_DB_SOURCE_PWD" value=""/>
<stringAttribute key="de.actis.bom.ui.ATTR_DB_SOURCE_USER" value=""/>
<stringAttribute key="de.actis.bom.ui.ATTR_DB_SQL_COMMAND" value=""/>
<booleanAttribute key="de.actis.bom.ui.ATTR_DB_SQL_DYNAMIC_CURSOR" value="false"/>
<stringAttribute key="de.actis.bom.ui.ATTR_DB_TARGET_HOSTNAME" value=""/>
<stringAttribute key="de.actis.bom.ui.ATTR_DB_TARGET_NAME" value=""/>
<stringAttribute key="de.actis.bom.ui.ATTR_DB_TARGET_PORT" value=""/>
<stringAttribute key="de.actis.bom.ui.ATTR_DB_TARGET_PWD" value=""/>
<stringAttribute key="de.actis.bom.ui.ATTR_DB_TARGET_USER" value=""/>
<booleanAttribute key="de.actis.bom.ui.ATTR_DB_USE_CHAR" value="false"/>
<booleanAttribute key="de.actis.bom.ui.ATTR_DB_USE_PARAM_TF" value="true"/>
<mapAttribute key="de.actis.bom.ui.ATTR_PARAMETERS_ENABLED"/>
<stringAttribute key="de.actis.bom.ui.ATTR_SOURCE_INPUT" value="testdata/delinhouse.example.tst"/>
<stringAttribute key="de.actis.bom.ui.ATTR_SOURCE_OUTPUT" value="testdata/delivery.example.out1.tst"/>
<stringAttribute key="de.actis.bom.ui.ATTR_SOURCE_PROJECT" value="TFXSLT_project"/>
<mapAttribute key="de.actis.bom.ui.ATTR_STEPS">
<mapEntry key="0" value="true"/>
<mapEntry key="1" value="true"/>
<mapEntry key="2" value="true"/>
</mapAttribute>
<booleanAttribute key="de.actis.bom.ui.ATTR_TRACE_ABBILDER" value="false"/>
<booleanAttribute key="de.actis.bom.ui.ATTR_TRACE_COMPLETE" value="false"/>
<stringAttribute key="de.actis.bom.ui.ATTR_TRACE_FILE" value="/formdb/trace.txt"/>
<booleanAttribute key="de.actis.bom.ui.ATTR_TRACE_SCANNER" value="false"/>
<booleanAttribute key="de.actis.bom.ui.ATTR_TRACE_SORTER" value="false"/>
<booleanAttribute key="de.actis.bom.ui.ATTR_TRACE_USE_FILE" value="false"/>
<intAttribute key="de.actis.bom.ui.DEL_TEMPTFFILE" value="0"/>
<mapAttribute key="org.eclipse.debug.core.environmentVariables"/>
</launchConfiguration>
